---
interface Props {
  title: string;
  description?: string;
  ogImage?: string;
  canonicalURL?: string;
}

const {
  title = "Manuel Guillén Silva - Portfolio",
  description = "Desarrollador web fullstack con experiencia en JavaScript. Combino creatividad y lógica para crear experiencias digitales atractivas y funcionales.",
  ogImage =`https://manuelgsil.github.io${import.meta.env.BASE_URL}/images/og-image.jpg`,
  canonicalURL = Astro.url.href,
} = Astro.props;

const siteName = "Manuel Guillén Silva - Portfolio";
const base = import.meta.env.BASE_URL; // Obtiene el valor de "base" desde astro.config.mjs
---

<!-- SEO básico -->
<title>{title}</title>
<meta name="description" content={description} />
<link rel="canonical" href={canonicalURL} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={ogImage} />
<meta property="og:site_name" content={siteName} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={ogImage} />

<!-- Favicon -->
<link rel="icon" type="image/svg+xml" href={`${base}/favicon.ico`} />
<link rel="apple-touch-icon" sizes="180x180" href={`${base}/apple-touch-icon.png`}>
<link rel="icon" type="image/png" sizes="32x32" href={`${base}/favicon-32x32.png`}>
<link rel="icon" type="image/png" sizes="16x16" href={`${base}/favicon-16x16.png`}>
<link rel="manifest" href={`${import.meta.env.BASE_URL}/site.webmanifest`} />